body {
    font-family: "Montserrat", sans-serif;
    background: rgb(54, 53, 53);
    color: whitesmoke;
    
}

header {
    display: grid;
    
}

.photoprofil {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-column: 2/3;
}

